<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dispatch-assist admin</title>
    <link rel="stylesheet" href="vendors/feather/feather.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css" />
    <link rel="stylesheet" href="css/vertical-layout-light/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<style>
    .sidebar .nav .nav-item.active > .nav-link{
    background-color:purple;
  }
  .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link:hover {
    background-color:purple;
  }

</style>
<body>

  <div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper ">  
        <a  href="http://dispatch-assist.com/"  target="_blank" rel="noopener noreferrer"><img class="imig" src="images/logo1-1.jpg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
          </li>
        </ul>
      
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/navbarinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Navbar</span>
          </a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Homeinfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Aboutinfo</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Services</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/trucktypes">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Truck Types</span>
      </a>
  </li>
      
    <li class="nav-item">
      <a class="nav-link" href="/questions">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Questions</span>
      </a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer-reviews">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Customers</span>
      </a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" href="/request">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Request A CallBack</span>
    </a>
</li>  
        <li class="nav-item">
            <a class="nav-link" href="/contactinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ContactInfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/follow-us">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Follow</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/truckStop">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">TruckStop</span>
        </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/upload-videoheader">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Dispatch Video</span>
      </a>
  </li>

    
  
        
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/login"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/register"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            
    
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="container elements mt-3" id="Customer" >
                  <h3 class="card-title">About Information</h3>
                  <h5><strong>Title:</strong> <%= about.titlefirst %>
                  <button  class="btn btn-secondary mb-2 ml-4" onclick="toggleForm('titlefirstForm')">
                    <i class="bi bi-pencil"></i>
                  </button></h5>
                  <h5><strong>Title:</strong> <%= about.titlesecond %>
                    <button  class="btn btn-secondary mb-2 ml-4" onclick="toggleForm('titlesecondForm')">
                      <i class="bi bi-pencil"></i>
                    </button></h5>
                    <h2 class="text  text-center elements"> <%= about.titlefirst %> <span> <%= about.titlesecond %></span></h2>
                    <div class="faq_accordion mt-2">                  
                      <div class="faq_question">
                        <div class="text-size-medium-4 text-weight-bold"> <%= about.text %></div>
                        <button  class="btn btn-secondary mb-2" onclick="toggleForm('textForm')">
                          <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                  </div>
                  <div class="faq_accordion mt-2">                  
                    <div class="faq_question">
                      <div class="text-size-medium-4 text-weight-bold"> <%= about.carriersnumber && about.carrierstext ? about.carriersnumber + ' ' + about.carrierstext : '' %></div>
                      <button  class="btn btn-secondary mb-2" onclick="toggleForm('carriersForm')">
                        <i class="bi bi-pencil"></i>
                      </button>
                  </div>
                </div>
                <div class="faq_accordion mt-2">                  
                  <div class="faq_question">
                    <div class="text-size-medium-4 text-weight-bold">  <%= about.brokersnumber && about.brokersnumber ? about.brokersnumber + ' ' + about.brokerstext : '' %></div>
                    <button  class="btn btn-secondary mb-2" onclick="toggleForm('brokersForm')">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </div>
                </div>
            
              <div class="faq_accordion mt-2">                  
                <div class="faq_question">
                  <div class="text-size-medium-4 text-weight-bold"><%= about.loadsnumber && about.loadstext ? about.loadsnumber + ' ' + about.loadstext : '' %></div>
                  <button  class="btn btn-secondary mb-2" onclick="toggleForm('loadsForm')">
                    <i class="bi bi-pencil"></i>
                  </button>
              </div>
            </div>
            </div>
                
              </div>
              </div>
            </div>
  
       
            <div class="col-md-6">
              <div class="card" style="  margin-top: 170px ;" >
                <div class="card-body">
                  <h4 class="card-title">Update About Information</h4>
      
                  <form id="titlefirstForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="titlefirst">Title</label>
                      <input type="text" id="titlefirst" name="titlefirst" class="form-control" value="<%= about.titlefirst %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Title</button>
                  </form>
                  <form id="titlesecondForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="titlesecond">Title</label>
                      <input type="text" id="titlesecond" name="titlesecond" class="form-control" value="<%= about.titlesecond %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Title</button>
                  </form>
       
       
                  <form id="textForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="text">Text</label>
                      <textarea id="text" name="text" class="form-control" required><%= about.text %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Text</button>
                  </form>

                  <form id="carriersForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="carriersnumber">Number</label>
                      <input type="text" id="carriersnumber" name="carriersnumber" class="form-control"  value="<%= about.carriersnumber %>" required>
                      <label for="carrierstext">Carriers</label>
                      <input type="text" id="carrierstext" name="carrierstext" class="form-control" value="<%= about.carrierstext %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Carriers</button>
                  </form>
                  
                  <form id="brokersForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="brokersnumber">Number</label>
                      <input type="text" id="brokersnumber" name="brokersnumber" class="form-control"  value="<%= about.brokersnumber %>" required>
                      <label for="brokerstext">Brokers</label>
                      <input type="text" id="brokerstext" name="brokerstext" class="form-control" value="<%= about.brokerstext %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Brokers</button>
                  </form>
                  
                  <form id="loadsForm" action="aboutinfo" method="POST" style="display: none;">
                    <div class="form-group">
                      <label for="loadsnumber">Number</label>
                      <input type="text" id="loadsnumber" name="loadsnumber" class="form-control"  value="<%= about.loadsnumber %>" required>
                      <label for="loadstext">Loads Weekly</label>
                      <input type="text" id="loadstext" name="loadstext" class="form-control" value="<%= about.loadstext %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Loads Weekly</button>
                  </form>
                  
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
     
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        
        </footer> 

    </div>
    </div>   

  </div>
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

 
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
 <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
</body>

</html>



