<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Dispatch-assist admin</title>
    <link rel="stylesheet" href="vendors/feather/feather.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css" />
    <link rel="stylesheet" href="css/vertical-layout-light/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<style>
    .sidebar .nav .nav-item.active > .nav-link{
    background-color:purple;
  }
  .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link:hover {
    background-color:purple;
  }
 
</style>
<body>
 
  <div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper ">  
        <a  href="http://dispatch-assist.com/"  target="_blank" rel="noopener noreferrer"><img class="imig" src="images/logo1-1.jpg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
          
          </li>
        </ul>
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/navbarinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Navbar</span>
          </a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Homeinfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Aboutinfo</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Services</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/trucktypes">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Truck Types</span>
      </a>
  </li>
      
    <li class="nav-item">
      <a class="nav-link" href="/questions">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Questions</span>
      </a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer-reviews">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Customers</span>
      </a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" href="/request">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Request A CallBack</span>
    </a>
</li>  
        <li class="nav-item">
            <a class="nav-link" href="/contactinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ContactInfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/follow-us">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Follow</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/truckStop">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">TruckStop</span>
        </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/upload-videoheader">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Dispatch Video</span>
      </a>
  </li>

    
        
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/login"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/register"> Register </a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
     
         <div class="container elements mt-3" id="Customer" >
          <h3 class="card-title">Contact Information</h3>
          <h5><strong>Title:</strong> <%= contact.title %>
            <button  class="btn btn-secondary mb-2 ml-4" onclick="toggleForm('titleForm')">
              <i class="bi bi-pencil"></i>
            </button></h5>
            <div class="container elements mt-3">        
              <h2 class="text-center mb-4 elements"  ><%= contact.title %></h2>
              </div>
          <div class="row custom mt-5 elements">
            <div class="col-md-4 elements" >
                <div class="card-body review-card-body" >
                  <div class="text-size-medium-4 text-weight-bold"><strong>Gmail:</strong> <%= contact.gmail %></div>
                  <button  class="btn btn-secondary mb-2" style="margin-top: 3%;" onclick="toggleForm('gmailForm')">
                    <i class="bi bi-pencil"></i>
                  </button>
              </div>
            </div>
            <div class="col-md-4 elements" >
              <div class="card-body review-card-body" >
                <div class="text-size-medium-4 text-weight-bold"><strong>Phone:</strong> <%= contact.phone %></div>
                <button  class="btn btn-secondary mb-2" style="margin-top: 3%;" onclick="toggleForm('phoneForm')">
                  <i class="bi bi-pencil"></i>
                </button>
            </div>
          </div>
          <div class="col-md-4 elements" >
            <div class="card-body review-card-body" >
              <div class="text-size-medium-4 text-weight-bold"><strong>Location:</strong> <%= contact.location %></div>
              <button  class="btn btn-secondary mb-2" style="margin-top: 3%;" onclick="toggleForm('locationForm')">
                <i class="bi bi-pencil"></i>
              </button>
          </div>
        </div>
        <div class="col-md-4 elements py-3" >
          <div class="card-body review-card-body" >
            <div class="text-size-medium-4 text-weight-bold"><strong>locationFlorida:</strong> <%= contact.locationFlorida %></div>
            <button  class="btn btn-secondary mb-2" style="margin-top: 10%;" onclick="toggleForm('locationFloridaForm')">
              <i class="bi bi-pencil"></i>
            </button>
        </div>
      </div>
      <div class="col-md-4 elements py-3" >
        <div class="card-body review-card-body" >
          <div >
            <img src="<%= contact.picture %>" class="img-fluid rounded"  style="width: 150px; height: 70px;margin-top: 8px;">
          </div>
          <button  class="btn btn-secondary mb-2" style="margin-top: 3%;" onclick="toggleForm('pictureForm')">
            <i class="bi bi-pencil"></i>
          </button>
      </div>
    </div>
            </div>
           
  
            <div id="carouselExampleControls" class="carousel slide elements mt-5" data-ride="carousel">
              <div class="carousel-inner elements"  >
                <div class="carousel-item active elements"  >
                  <div class="card-body review-card-body head" >
                    <div class="text-size-medium-4 text-weight-bold"><strong>Gmail:</strong> <%= contact.gmail %></div>
                    <div class="bot">
                    <button  class="btn btn-secondary mb-2" onclick="toggleForm('gmailForm')">
                    <i class="bi bi-pencil"></i>
                  </button>
                  </div>
                </div>
                </div>
                <div class="carousel-item elements"  >
                  <div class="card-body review-card-body head" >
                    <div class="text-size-medium-4 text-weight-bold"><strong>Phone:</strong> <%= contact.phone %></div>
                    <div class="bot">
                    <button  class="btn btn-secondary mb-2" onclick="toggleForm('phoneForm')">
                      <i class="bi bi-pencil"></i>
                    </button>
                    </div>
                </div>
                </div>
                <div class="carousel-item elements"  >
                  <div class="card-body review-card-body head" >
                    <div class="text-size-medium-4 text-weight-bold"><strong>Location:</strong> <%= contact.location %></div>
                    <div class="bot">
                    <button  class="btn btn-secondary mb-2" onclick="toggleForm('locationForm')">
                      <i class="bi bi-pencil"></i>
                    </button>
                    </div>
                </div>
                </div>
                <div class="carousel-item elements"  >
                  <div class="card-body review-card-body head" >
                    <div class="text-size-medium-4 text-weight-bold"><strong>locationFlorida:</strong> <%= contact.locationFlorida %></div>
                    <div class="bot">
                    <button  class="btn btn-secondary mb-2"  onclick="toggleForm('locationFloridaForm')">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </div>
                </div>
                </div>
                <div class="carousel-item elements"  >
                  <div class="card-body review-card-body head" >
                    <div >
                      <img src="<%= contact.picture %>" class="img-fluid rounded"  style="width: 150px; height: 80px;">
                    </div>
                    <div class="bot1">
                    <button  class="btn btn-secondary mb-2" onclick="toggleForm('pictureForm')">
                      <i class="bi bi-pencil"></i>
                    </button>
                    </div>
                </div>
                </div>
              </div>
              <a class="carousel-control-prev new" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                
              </a>
              <a class="carousel-control-next new" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon  " aria-hidden="true"></span>
               
              </a>
            </div>
                
                <div class="col-md-6">
                  <div class="card" style="margin-top: 110px;">
                    <div class="card-body">
                      <h4 class="card-title">Update Contact</h4>
      
                      <form id="titleForm" action="/update-contact" method="POST" style="display: none;">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" id="title" name="title" class="form-control" value="<%= contact.title %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Title</button>
                      </form>
  
                      <form id="gmailForm" action="/update-contact" method="POST" style="display: none;">
                        <div class="form-group">
                          <label for="gmail">Gmail</label>
                          <input type="email" id="gmail" name="gmail" class="form-control" value="<%= contact.gmail %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Gmail</button>
                      </form>
        
                
                      <form id="phoneForm" action="/update-contact" method="POST" style="display: none;">
                        <div class="form-group">
                          <label for="phone">Phone</label>
                          <input type="text" id="phone" name="phone" class="form-control" value="<%= contact.phone %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Phone</button>
                      </form>
      
                      <form id="locationForm" action="/update-contact" method="POST" style="display: none;">
                        <div class="form-group">
                          <label for="location">Location</label>
                          <input type="text" id="location" name="location" class="form-control" value="<%= contact.location %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Location</button>
                      </form>
                      <form id="locationFloridaForm" action="/update-contact" method="POST" style="display: none;">
                        <div class="form-group">
                          <label for="locationFlorida">Location</label>
                          <input type="text" id="locationFlorida" name="locationFlorida" class="form-control" value="<%= contact.locationFlorida %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Location</button>
                      </form>


                      <form id="pictureForm" action="/update-contact" method="POST" enctype="multipart/form-data" style="display: none;">
                        <div class="form-group">
                          <label for="picture">Contact Logo</label>
                          <input type="file" id="picture" name="picture" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Logo</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

            </div>
  
            
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        
        </footer> 

    </div>
    </div>   

  </div>
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

 
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
 <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  
</body>

</html>



