<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dispatch-assist admin</title>
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<style>
    .sidebar .nav .nav-item.active > .nav-link{
    background-color:purple;
  }
  .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link:hover {
    background-color:purple;
  }
 
</style>
<body>
  
  <div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="http://dispatch-assist.com/"  target="_blank" rel="noopener noreferrer"><img src="images/logo1-1.jpg" alt="logo" /></a>
     
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
  
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item" href="/pages/samples/error-404.html">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
        
         
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/navbarinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Navbar</span>
          </a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Homeinfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutinfo">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Aboutinfo</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Services</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/trucktypes">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Truck Types</span>
      </a>
  </li>
      
    <li class="nav-item">
      <a class="nav-link" href="/questions">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Questions</span>
      </a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer-reviews">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Customers</span>
      </a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" href="/request">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Request A CallBack</span>
    </a>
</li>  
        <li class="nav-item">
            <a class="nav-link" href="/contactinfo">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ContactInfo</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/follow-us">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Follow</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/truckStop">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">TruckStop</span>
        </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/upload-videoheader">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Dispatch Video</span>
      </a>
  </li>

    
    
        
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/login"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/register"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          
        </ul>
      </nav>
      
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="content-wrapper">
                <div class="row">
                
                    <div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Admin Information</h4>
                            <p><strong>Name:</strong><%= admin.name %></p>
                            <p><strong>Email:</strong> <%= admin.email %></p>
                            <p><strong>Bio:</strong> <%= admin.bio %></p>
                         
                      
                            <p><strong>Picture:</strong></p>

                             <% if (admin.picture) { %>
                              <div style="max-width: 300px; margin: auto;"> 
                                  <img src="<%= admin.picture %>" class="img-fluid   rounded" alt="Admin Picture" style="max-width: 50%; height: 10%;">
                              </div>
                          <% } else { %>
                              <p>Admin Picture not available</p>
                          <% } %> 


                         </div>
                    </div>
                    
                    </div>
                                 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Update Profile</h4>
                                <form action="/profile" method="POST" enctype="multipart/form-data">
            
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" name="name" class="form-control" value="<%= admin.name %>" required>
                                    </div> 
                                 
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input disabled type="email" id="email" name="email" class="form-control" value="<%= admin.email %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="bio">Bio</label>
                                        <textarea id="bio" name="bio" class="form-control"><%= admin.bio %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="picture">Profile Picture</label>
                                        <input type="file" id="picture" name="picture" class="form-control-file">
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
         
        </div>
     
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        
        </footer> 

    </div>
    </div>   

  </div>
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
 <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
</body>

</html>



